---
import BaseHead from '../components/BaseHead.astro';
import SiteNameHeader from '../components/SiteNameHeader.astro';
import BlogPost from '../components/BlogPost.astro';

const { content } = Astro.props;
const { name, year, publishDate, heard, artist, heroImage, permalink, alt } = content;

const title = `聽到 ${name} (${artist}) 的電視影劇`
const description = `也有歌詞。${artist} 在 ${year} 年發行的作品，出現在${heard.join('、')}。`
---

<html lang="zh-Hant-TW">
	<head>
		<BaseHead {title} {description} {permalink} />
	</head>

	<body>
		<SiteNameHeader />
		<div class="wrapper">
			<BlogPost {title} {artist} {heroImage} {publishDate} {heard} {alt}>
				<slot />
			</BlogPost>
		</div>
	</body>
</html>
