---
import BaseHead from '../components/BaseHead.astro';
import SitePathHeader from '../components/SitePathHeader.astro';
import Heading from '../components/Heading.astro';
import Heard from '../components/Heard.astro';
import Lyric from '../components/Lyric.astro';
import Footer from '../components/Footer.astro';

const { content } = Astro.props;
const { name, year, publishDate, heard, artist, heroImage, permalink, datePublished, dateModified, alt } = content;

const title = `聽到 ${name} | ${artist} 的電影、電視劇`;

const descriptionHeard = (heards) => {
  const lv1 = heards.map(({ media }) => {
    const lv2 = media.map(({ name, year }) => {
      const mediaUnit = `${name} (${year})`;
      return mediaUnit;
    });
    return lv2;
  });
  return lv1.flat(1).join('、');
}

const description = `也有歌詞。${artist} 在 ${year} 年發行的作品，出現在${descriptionHeard(heard)}。`;
---

<html lang="zh-Hant-TW">
  <head>
    <BaseHead {title} {description} {name} {permalink} {datePublished} {dateModified} {artist} />
  </head>
  <body data-body-style="song">
    <header class="songMeta">
      <SitePathHeader {artist} />
      <Heading {name} {year} {permalink} />
      <aside class="heard deviceDesktop">
        <Heard {heard} />
      </aside>
    </header>
    <aside class="heard deviceMobile">
      <Heard {heard} />
    </aside>
    <main class="content">
      <Lyric {title} {artist} {heroImage} {publishDate} {alt}>
        <slot />
      </Lyric>
    </main>
    <Footer />
  </body>
</html>

<style lang="scss">
.songMeta {
  grid-area: meta;
  position: sticky;
  top: 0;
  font-family: var(--font-body);
  background: hsla(var(--color-shade0), 0.5);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);


  @media screen and (min-width: 992px) {
    padding-left: 16px;
  }
}

.heard {
  grid-area: heard;

  &.deviceMobile {
    margin: 0 16px 24px;

    @media screen and (min-width: 992px) {
      display: none;
    }
  }
  &.deviceDesktop {
    display: none;

    @media screen and (min-width: 992px) {
      display: block;
    }
  }
}

.content {
  grid-area: lyric;
  margin-bottom: 64px;
  padding: 0 16px;

  @media screen and (min-width: 992px) {
    padding: 48px 0 0;
  }
}
</style>
