---
import BaseHead from '../components/BaseHead.astro';
import SitePathHeader from '../components/SitePathHeader.astro';
import Heading from '../components/Heading.astro';
import Heard from '../components/Heard.astro';
import Lyric from '../components/Lyric.astro';
import Footer from '../components/Footer.astro';

const { content } = Astro.props;
const { name, year, publishDate, heard, artist, heroImage, permalink, alt } = content;

const title = `聽到 ${name} (${artist}) 的電視影劇`
const description = `也有歌詞。${artist} 在 ${year} 年發行的作品，出現在${heard.join('、')}。`
---

<html lang="zh-Hant-TW">
	<head>
		<BaseHead {title} {description} {permalink} />
	</head>
	<body>
		<header class="songMeta">
			<SitePathHeader {artist} />
			<Heading {name} {year} {permalink} />
			<div class="heard">
				<Heard {heard} />
			</div>
		</header>
		<main class="content">
			<Lyric {title} {artist} {heroImage} {publishDate} {alt}>
				<slot />
			</Lyric>
		</main>
		<Footer />
	</body>
</html>

<style lang="scss">
	body {
		display: grid;
		grid: "meta" auto
		      "lyric" auto
					"footer" auto / auto;
		background: hsl(var(--color-shade100));

		@media screen and (min-width: 992px) {
			grid: "meta lyric" auto
						"footer footer" auto / 400px 592px;
			justify-content: center;
			column-gap: 48px;
  	}
	}

	.songMeta {
		grid-area: meta;
		margin-bottom: 24px;
		font-family: var(--font-body);
	}

	.heard {
		padding: 12px 16px;
		background-color: hsl(var(--color-midnight100));

		@media screen and (min-width: 992px) {
    	border-radius: 12px;
  	}
	}

	.content {
		grid-area: lyric;
		margin-bottom: 64px;
		padding: 0 16px;

		@media screen and (min-width: 992px) {
    	padding: 48px 0 0;
  	}
	}
</style>
